FRONTEND_PORT=
BACKEND_PORT=
SKILLS_TRAINER_PORT=
ASSESSMENT_ENGINE_PORT=
CONTENT_ENGINE_PORT=
DIGITAL_TWIN_PORT=
DATABASE_PORT=
SKILLS_TRAINER_URL=
ASSESSMENT_ENGINE_URL=
CONTENT_ENGINE_URL=
DIGITAL_TWIN_URL=
DATABASE_URL=
JWT_SECRET=
